
.main-container {
  padding-top: 2rem;
  padding-bottom: 2rem;
}


.footer {
  border-top:solid;
  border-width:3rem;
  border-color:#FDD7AB;
  padding-top: 2rem;
  
}

.left-footer{
  text-align: center;
  border-right:solid;
  border-color:#f38014;
  border-width:0.01rem;
  /* height: 93px; */
  font-size: 15px;
  color: #f38104;

}
  
.right-footer{
  font-size: 14px;
  color: #f38104;
  line-height:0.6rem;
}