@font-face {
  font-family: "Eoe_Zno_L";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/Eoe_Zno_L.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NIXGONM-Vb";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/NIXGONM-Vb.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

#root {
  font-family: "NIXGONM-Vb";
}
html,
body {
  font-family: "NIXGONM-Vb";
}

input[type="password"] {
  font-family: sans-serif;
}

.preTag {
  font-family: "NIXGONM-Vb";
}
.card {
  align-items: center;
  text-align: center;
}

.main-calendar {
  border-radius: 3%;
}

.container_ {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.main-container {
  /* padding-top: 1rem; */
  padding-bottom: 1rem;
}
.post-container {
  padding-bottom: 1rem;
}

.Paper {
  padding: 1.5rem;
}

.PostingForm {
  padding: 1rem;
  margin: 1rem;
}

.mentoring-form {
  display: flex;
}
.mentoring-select {
  margin-left: 1rem;
  min-width: 6rem;
  text-align: center;
}

.join-table-section {
  padding-left: 1rem;
  padding-right: 1rem;
}

.footer {
  border-top: solid;
  border-width: 3rem;
  border-color: #fdd7ab;
  padding-top: 2rem;
  font-weight: bold;
}

.left-footer {
  float: right;
  text-align: center;
  border-color: #f38014;
  border-width: 1px;
  /* height: 93px; */
  font-size: 15px;
  color: #f38104;
}

.right-footer {
  font-size: 0.8em;
  color: #f38104;
  line-height: 0.6rem;
}
.link {
  text-decoration: none;
  outline: none;
}
.link:hover,
.link:active {
  text-decoration: none;
}
.footerlogo {
  width: 20%;
  padding: 3px;
}

@media (max-width: 480px) {
  .right-footer {
    font-size: 0.9em;
    color: #f38104;
    line-height: 0.6rem;
    text-align: center;
  }
  .footerlogo {
    width: 15%;
    padding: 3px;
  }
  .footer {
    border-top: solid;
    border-width: 3rem;
    border-color: #fdd7ab;
    padding-top: 0.5rem;
    font-weight: bold;
  }
}
.nav-link,
.nav-link:hover,
.nav-link:active {
  color: #fff;
}

.drop-link,
.drop-link:hover,
.drop-link:active {
  color: black;
}

.auth-link,
.auth-link:hover,
.auth-link:active {
  color: #fff;
}

.commentForm {
  display: flex;
  flex-direction: column;
  width: 25rem;
}
.commentUpdateForm {
  /* display: inline; */
  vertical-align: middle;
  /* width: 25rem; */
}

.RecentForm {
  padding: 0.5rem;
  padding-left: 1rem;
  /* margin: 3rem; */
}

.main-recentTitle {
  text-align: center;
  font-weight: bold;
}
.main-postTitle {
  font-size: x-large;
}
.PostingSection {
  padding: 2rem;
}

.LeftProfile {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  height: 100%;
}
.MyProfile {
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-inline-start: 2rem;
  padding-inline-end: 8rem;
  height: 100%;
  width: 100%;
  line-height: 4.5rem;
}
.standard-read-only-input {
  width: 100%;
}
.standard-required {
  width: 100%;
}

.MyLike {
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-inline-start: 2rem;
  height: 100%;
}
.MyStudyGroup {
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-inline-start: 2rem;
  height: 100%;
}
.MyMentoring {
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-inline-start: 2rem;
  height: 100%;
  padding-right: 2rem;
}

.MyStudyGroup {
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-inline-start: 2rem;
  height: 100%;
  padding-right: 2rem;
}

.MyPost {
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-inline-start: 2rem;
  height: 100%;
}

.MyComment {
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-inline-start: 2rem;
  height: 100%;
}

.faked {
  float: right;
  margin-bottom: 2rem;
}
.alluser {
  float: right;
}
.avatar {
  display: flex;
  justify-content: space-between;
}

.comment-info {
  display: flex;
  vertical-align: center;
}

/* metoring page */
.mentoring-table {
  /* align: center; */
  /* align-content: center;
  vertical-align: auto; */
}
.mentoring-list {
  width: 100%;
  position: relative;
  overflow: auto;
  /* max-height: 50px; */
  height: 10rem;
}
.mentoring-ul {
  padding: 0%;
}

.post-body {
  height: 300px;
}

.answer-paper {
  padding: 1rem;
  margin: 1rem;
  text-align: center;
}

.nav-item {
  color: black;
}
#home-tab {
  color: black;
}
.nav-link {
  color: black;
}
.imgU {
  float: right;
  margin-right: 4rem;
}

.Cancle {
  color: rgb(167, 167, 167);
}

.image-fixer img {
  display: block;
  margin: 0 auto;
  max-width: 95%;
}
.paginator {
  justify-items: center;
}
